.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    background-color: lightgray;
}

.login-form {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.login-form input:focus {
    outline: none;
    border-color: blue;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}